.card{
    margin-bottom: 18px;
}

.card-title{
    border-bottom: 1px solid rgb(64, 201, 255);
    padding-bottom: 12px;
}

.card-body{
    display: flex;
    flex-direction: column;
}

.btn-danger{
    margin-right: 10px
}