<div class="container" *ngIf="requests.length !== 0">
  <div class="card" *ngFor="let request of requests">
    <div class="card-body">
      <h5 class="card-title">Holiday Request
        <button type="button" (click)="deleteRequest(request)" class=" ml-auto btn btn-danger">Delete</button>
      </h5>
      <p class="card-text">
        Email: <strong>{{request.email}}</strong>
      </p>
      <p class="card-text">
        Reason: <strong>{{request.reason}}</strong>
      </p>
      <p class="card-text">
        Period: <strong>{{request.startDate | date}} - {{request.endDate | date}} </strong>
      </p>
      <div class="alert alert-success" *ngIf="request.status === 1" role="alert">
        Approved!
      </div>

      <div class="alert alert-danger" *ngIf="request.status === 2" role="alert">
        Rejected!
      </div>

      <div class="alert alert-warning" *ngIf="request.status === 0" role="alert">
        Pending!
      </div>
    </div>
  </div>
</div>

<div *ngIf="requests.length === 0" class="alert alert-warning" role="alert">
  There is no history!
</div>
